<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Association Accessors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body {
        background-color: #F2E5D7;
        color: #3D2C2E;
      }
      body h1 {
        color: #062948;
        background-color: #639FAB;
      }
      body a {
        color: #886F68;
        text-decoration: none;
      }
      body button {
        background-color: #ABC2C1;
      }
      body th {
        background-color: #639FAB;
        color: #062948;
      }
      body td {
        background-color: #ABC2C1;
      }
    </style>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
